.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0; /* Removido padding lateral */
    background-color: #fce6d4; /* Mesmo fundo do footer */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para um visual elegante */
    width: 100%; /* Garante que ocupe toda a largura */
    margin: 0; /* Remove qualquer margem */
  }
  
  .header-button {
    display: flex;
    gap: 150px; /* Espaçamento entre os botões */
    padding: 0 150px; /* Adicionado padding lateral */
  }
  
  .header-button button {
    font-size: 18px;
    background-color: #fce6d4;
    color: #5f4b3b;
    border: 2px solid #fce6d4;
    border-radius: 30px;
    padding: 12px 80px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
  }
  
  .header-button button:hover {
    background-color: white;
    color: #5f4b3b;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(252, 230, 212, 0.4);
    border-color: #fce6d4;
  }
  
  .header-logo {
    text-align: center;
    flex-grow: 1; /* Faz o logo centralizado ocupar espaço entre os botões */
  }
  
  .header-logo img {
    height: 80px; /* Ajuste a altura do logo */
  }